<h1>InterPolation</h1>
<hr>
<h1>{{title}}</h1>
<h2>Welcome {{fname}}{{lname}}</h2>
<h1>PropertyBinding</h1>
<hr>

<img [src]="imgurl" [height]="h" [width]="w">

<h1>Event Binding</h1>
<hr>
<button (click)="show()">Click Me</button>
<div *ngIf="flag">Welcome User</div>

<h1>Display Array using For </h1>
<hr>
<table class="table table-bordered table-striped"><thead><tr><th>Name</th><th>Availability</th><th>Price</th><th>Rating</th></tr></thead>
<tbody><tr *ngFor="let p of products"><td>{{p.name}}</td><td>{{p.available}}</td><td>{{p.price}}</td><td>{{p.rating}}</td></tr></tbody></table>

<div>
        <h1>Two way binding</h1>
        <input type="text" [(ngModel)]="fname"><br>
        <h3>Welcome {{fname}}</h3>
    </div>