<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite" parallel="classes" thread-count="5">
  <test thread-count="5" name="MySuite">
    <classes>
      <class name="com.simplilearn.testngselenium.SimpleTestNG"/>
       <class name="com.simplilearn.testngselenium.TestNG1"/>
       <class name="com.simplilearn.testngselenium.GroupTest">
      <!--   <methods>
          <include name="launchFireFox"></include>
          <include name="loginWithFirefox">
          <dependencies>
             <group depends-on="chrome"  name="firefox"></group>
          </dependencies>
          </include>
       </methods>-->
       </class>
       <class name="com.simplilearn.testngselenium.FacebookTest"/>
       <class name="com.simplilearn.testngselenium.AssertionsDemo"/>
    </classes>
  </test> <!-- TestNG -->
</suite> <!-- SuiteNG -->
